<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Es la que va
    <p style="color: orange"> Nombre del juego: {{nombre}}</p>
    <p style="color: black"> Version: {{version}}</p>

    <h1> Este template fue creado el: {{hoy}}</h1>

    <h3>Estas son las kills de la ultima partida: </h3>
    <p>
        {%for n in kills%}
            {% if n < 15 %}
             
            <p style="color: red"> Te caiste, hiciste {{n}} asesinatos</p>
            {% else %} <p style="color: green">Bien ahi, hiciste {{n}} asesinatos</p>
            {% endif %}

        {% endfor %}
    </p>

</body>
</html>