{% extends "./padre.html" %}

    {%load static %}

    {%block contenidoQueCambia %}

    <title> Creacion de comentario </title>
    <section>
        <h2>Comentario:</h2>
        <form method="post" class="blog_form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btncontainer">
                <button type="submit" class="btn_crear">Enviar</button>
                <button href="{% url 'Inicio' %}" class="btn_volver">Volver</button>
            </div>
        </form>
    </section>
    {% endblock %}