{% extends "./padre.html" %}

    {%load static %}

    {%block contenidoQueCambia %}
    <title> Editor de perfiles </title>
    <section>
        <h2>Crear un blog</h2>
        <form method="post" class="blog_form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ miForm.as_p }}
            <div class="btncontainer">
                <button type="submit" class="btn_crear">Editar</button>
                <button href="{% url 'Inicio' %}" class="btn_volver">Volver</button>
            </div>
        </form>
    </section>
    {% endblock %}

