{% extends "./padre.html" %}

    {%load static %}

    {%block contenidoQueCambia %}
    <section>


        {%for jugador in jugadores%}
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                {{jugador.nombre}}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Arma favorita: {{jugador.armafav}}</li>
              <li class="list-group-item">Record de kills: {{jugador.recordkill}}</li>
            </ul>
            <button>
                <a href="{% url 'EditarJugador' jugador.nombre %}">Editar</a>
                <a href="{% url 'EliminarJugador' jugador.nombre %}">Eliminar</a>
            </button>
          </div>
          {% empty %}
            <h3>No se encontraron jugadores</h3>
        {% endfor %}

          <p><a href="{% url 'Formulario1' %}">Agregar jugadores</a></p>

        
    </section>

    {% endblock %}