{% extends "./padre.html" %}

    {%load static %}

    {%block contenidoQueCambia %}
    <section>


        {%for jugador in jugadores%}
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                {{jugador.nombre}}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Arma favorita: {{jugador.armafav}}</li>
              <li class="list-group-item">Record de kills: {{jugador.recordkill}}</li>
            </ul>
          </div>
          {% empty %}
            <h3>No se encontraron jugadores con ese nombre</h3>
        {% endfor %}

        
    </section>

    {% endblock %}