{% extends "./padre.html" %}

    {%load static %}

    {%block contenidoQueCambia %}
    <div class="sobremi">
        <section >
            <img src="/media/media/sobremi.jpg" alt="Imagen del creador de la pagina">
        </section>
        <section class="sobremi_texto">
            <p>Soy Insua Developer. </p>
            <p>Soy estudiante en la UTN y en CoderHouse.</p>
            <p>Realice cursos de Desarrollo web, JavaScript, React Js y Python. Y estoy cursando Programacion.</p>
        </section>
    </div>

    {% endblock %}